@charset "utf-8";
@font-face{
    font-family:'marathon';
    src:url(mara2v2.ttf) format('opentype');
    font-weight: lighter;}

    body{
        background-color: black;
    }

    h1{
        font-family: 'marathon';
    margin-bottom: 15px;}

        header{
            
            padding-top: 20px;
            margin: -10px -10px 5px -10px;
            text-align: center;
            padding-bottom: 20px;
        }
        main{
                
            height: 470px;
            width: 570px;
            border-style: double;
            border-color: green;
            margin-left: auto;
        
            padding-left: 29px;
            padding-right: 20px;
            min-width: 320px;
            max-width: 800px;
            color: aliceblue;
            text-align: center;

        }
        a{
            color: aliceblue;
        
            
        }
        a:hover{
            background-color:rgb(194, 110, 110);}

        
        p{
            font-size: 1.1em;
        }